body{
    background-color: aliceblue;
    justify-items: center;
    text-align: center;
    margin: 10px;
    
}
header{
    position: sticky;
    top:0;
    background-color: rgb(190, 224, 255);
    margin: 15px;
    height: 40px;
    width: 90vw;
    border-radius: 10px;
    align-content: center;
}
header nav{
    display:flex;
   justify-content:space-evenly;
}
img{
    border-radius: 100%;
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
div{
    display: inline-block;
    width: 90vw;
    margin: 10px;
    vertical-align: top;
    background-color: rgb(214, 235, 255);
    border-radius: 25px;

}
.a{
    width: 45%;
    margin: 0;
}
.pj{
    display: grid;
}

img.pj{
    width: 40%;
    aspect-ratio: 1/1;
    margin:25px;
    border-radius: 25px;
}
.pj p{
    display: flex;
    text-align: center;
    margin-left:10% ;
    width: 50%;
    font-weight: bolder;
    color: rgb(0, 8, 255);
}
.s p{
    margin:0;
    width: 80%;
    text-align: justify;
    font-weight: normal;
    color: rgb(59, 61, 99);
}
div.s{
background:none;
justify-items: center;
align-items: center;
}

h1, h2, h3,p,a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(5, 9, 194);
}
h2{
    color: rgb(108, 79, 255);
}
h3{
    color: rgb(111, 111, 255);
    background-size:cover;
    border-radius: 25px;
}
p{
    color: rgb(59, 61, 99);
}

.intro{
    background: none;
}

.intro div{
    background:none;
}

@media screen and (min-width: 772px) {
.s{
    display: flex;
    justify-items: center;
    align-items: center;
}

img{
    width: 20%;
    margin-left: 10%;
}

body{
    margin: 30px;
}



.intro{
    display: flex;
    justify-content: center;
    text-align: left;
}
.intro div{
    margin-left: 10%;
}

img.pj{
    width: 15vw;
    aspect-ratio: 1/1;
    margin: 50px;
}

.pj p{
    margin-left: 5%;
}
.s p{
    width: 60%;
    
}
    
}